@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url("../images/background.png");
    color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Navbar no topo da página */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #121212;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
    z-index: 1000; /* Garante que fique sobre outros elementos */
}

.navbar__logo img {
    width: 50px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar__menu li {
    display: inline;
}

.navbar__menu a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.85rem;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    margin-right: 10px;
}

.navbar__title {
    font-size: 1.5rem;
    color: #f2f2f2;
}


.navbar__menu a:hover {
    color: #ddd;
}

.group-info {
    text-align: center;
    margin-bottom: 20px;
}

.group-info__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.group-info__name {
    font-size: 1.2rem;
    font-weight: 600;
    color: #f2f2f2;
}

.login > h2 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 330px;
}

.login__input, .login__button {
    width: 100%;
}

.login__input {
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    outline: none;
}

.login__input:focus {
    outline: 2px solid #f2f2f2;
}

.login__button {
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    color: #121212;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.login__button:hover {
    background-color: #fff;
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}


.chat__messages {
    flex-grow: 1;
    padding: 30px 30px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    max-height: 300px; /* ou um valor que você preferir */
}

.chat__form {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
    min-height: 40px;
    max-height: 100px;
    overflow-y: auto;
}

.chat__button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.chat__messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px; /* Pode ser ajustado conforme necessário */
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Estilo padrão das mensagens no tema claro */
.message--self {
    background-color: #0186C7;
    color: #FFFFFF;
    border-radius: 10px 10px 0 10px;
    align-self: flex-end;
}

.message--other {
    background-color: #333333;
    color: #f2f2f2;
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;

}


.message--sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}

/* sun/moon */
.theme-toggle {
    position: fixed; /* Muda para fixed para que fique fixo na tela */
    top: 5px; /* Distância do topo */
    right: 5px; /* Distância da direita */
    cursor: pointer;
    font-size: 12px; /* Tamanho do ícone */
}

/* Borda arredondada ao redor dos ícones de sol e lua */
.theme-toggle i {
    color: #FFD700; /* Cor inicial do sol */
    background-color: #333; /* Cor de fundo ao redor dos ícones */
    border-radius: 50%; /* Borda completamente arredondada */
    padding: 5px; /* Espaço interno para deixar o ícone centralizado */
    border: 1px solid #FFD700; /* Adiciona a borda ao redor do ícone */
    transition: background-color 0.3s ease, color 0.3s ease; /* Suavizar a transição de cores */
}

/* responsividade */
/* Estilo para o navbar toggle (ícone de hambúrguer) */
.navbar__toggle {
    display: none; /* Ocultar por padrão */
    cursor: pointer;
}
.navbar__toggle-icon {
    font-size: 24px; /* Tamanho do ícone */
    color: #f2f2f2; /* Cor do ícone */
}
/* Media query para telas menores que 790px */
@media (max-width: 790px) {
    .navbar__menu {
        display: none; /* Ocultar o menu por padrão */
        flex-direction: column; /* Mudar direção do menu para coluna */
        position: absolute; /* Para sobrepor o conteúdo */
        top: 60px; /* Posicionar abaixo da navbar */
        right: 0;
        background-color: #121212; /* Fundo do menu */
        width: 100%; /* Largura total */
        padding: 10px 0; /* Espaçamento interno */
        border-radius: 0 0 10px 10px; /* Bordas arredondadas */
        z-index: 999; /* Para garantir que fique acima de outros elementos */
    }
    .navbar__menu.active {
        display: flex; /* Mostrar o menu quando ativo */
    }
    .navbar__toggle {
        display: block; /* Mostrar o ícone de hambúrguer */
    }
}

/* emojis */


.emoji-container {
    display: inline-block;
    position: relative;
}

.emoji-toggle {
    display: none; /* Esconde o checkbox */
}

.emojis {
    font-size: 22px;
    color: #F2F2F2;
    cursor: pointer;
}

.emoji-list {
    display: none; /* Inicialmente escondido */
    position: absolute;
    top: -110px; /* Posiciona acima do ícone */
    left: 20px;
    background-color: #333333;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px 5px 5px 0px;
    z-index: 10;
    white-space: nowrap;
}

.emoji-toggle:checked + .emojis + .emoji-list {
    display: block; /* Mostra a lista quando o checkbox está checado */
}

.emoji {
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.emoji:hover {
    background-color: #4d4d4d; /* Efeito ao passar o mouse */
}


/* tentando fixar erros */
.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1; /* Permite que a caixa cresça */
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
    min-height: 40px; /* Define uma altura mínima */
    max-height: 100px; /* Pode ser ajustado conforme necessário */
    overflow-y: auto; /* Permite rolagem se o texto for muito longo */
}





/*         dark mode           */
/* Cor da lua no tema escuro */
.dark-mode .fa-moon {
    color: #FFD700; /* Cor do ícone de lua no tema escuro */
    background-color: #000; /* Fundo escuro no tema escuro */
    border: 2px solid #FFD700; /* Borda ao redor da lua */
}

/* Cor do sol no tema claro */
.dark-mode .fa-sun {
    color: #FF4500; /* Cor do ícone de sol no tema claro */
    background-color: #fff; /* Fundo claro no tema claro */
    border: 2px solid #FF4500; /* Borda ao redor do sol */
}

/* Ocultar o ícone de sol no tema escuro e mostrar a lua */
.dark-mode .sun {
    display: none;
}

.dark-mode .moon {
    display: block;
}

.dark-mode .chat__form{
    background-color: #F0F2F5;
}

.dark-mode .chat__input {
    background-color: #ffffff;
}

.dark-mode .material-symbols-outlined,
.dark-mode .emojis {
    color: #54656F;
}

.dark-mode .chat__input{
    color: #000000;
}

.message--self,
.message--other,
.dark-mode .message--self,
.dark-mode .message--other {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Quando o tema escuro estiver ativo, o fundo e as cores das mensagens mudam */
.dark-mode {
    background: url("../images/background2.png");
    color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Modifica a cor da mensagem do próprio usuário no tema escuro */
.dark-mode .message--self {
    background-color: #D9FDD3; /* Cor no tema escuro */
    color: #000000; /* Texto preto no tema escuro */
}

/* Modifica a cor das outras mensagens no tema escuro */
.dark-mode .message--other {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .emoji-list{
    background-color: #fff;
    border: 1px solid #ccc;
}

.dark-mode .emoji:hover {
    background-color: #f0f0f0; /* Efeito ao passar o mouse */
}
